html,body {
    font-family: "Inter", Arial;
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
     padding: 16px 32px;
}

header {
    
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation img{
    width: 48px;
    height: 48px;
}

.navigation a:hover {
    color: #5B20C7; 
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #4a16a9;
 }

.button {
    background-color: #5B20C7;
    color: #fff;
    border-radius: 8px;
    padding: 4px 24px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: 80px 10%;

}


.text {
    max-width: 500px;
}

.hightight {
    color: #6b00ff;
}

.judul h1 {
    font-size: 48px;
    font-weight: 800;
    color: #111;
    margin-bottom: 16px;
}

.judul p {
    line-height: 1.6;
    color: #555;
    font-size: 16px;
}
    
button {
     background-color: #5B20C7;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 12px 28px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #4a16a9;
}


.img { 
    max-width: 100%;
}

@media screen and (max-width: 991px) {
    .hero {
        padding: 60px 40px;
    }

    .judul h1 {
        font-size: 40px;
    }

    .gambar {
        max-width: 320px;
    }
}

/* HP */
@media screen and (max-width: 640px) {
    .container {
        max-width: 400px;
        padding: 16px 24px;
    }

    .header-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        display: none; /* Sembunyikan menu */
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 24px;
    }

    .judul {
        max-width: 100%;
    }

    .judul h1 {
        font-size: 32px;
    }

    .judul p {
        font-size: 15px;
        color: #666;
    }

    button {
        width: 80%;
        font-size: 15px;
        padding: 10px 20px;
    }

    .gambar {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .img-pattern {
        display: none; 
    }
}









